/* estilos principales de la app */

/* import */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Inter:wght@400;700&family=Roboto:wght@500;700&display=swap');

/* variables */
:root{
  /* ··· mode light ··· */
  --clr-back-light: #fff;
  --clr-font-light: #313131;

  /* ··· mode dark ··· */
  --clr-back-dark: #1a1a1a;
  --clr-font-dark: #fff;
  --clr-font-p-dark: #e4e3e360;

  /* ··· card ··· */
  /* --clr-card: #101b41; */
  --clr-font-card: #bbbabe;
  --clr-border-card: #5f97d1;
  
  /* ··· form ··· */
  --clr-border-form: #8eb5e2;
  --clr-letter-form: #f8f8f8;
  --clr-placeholder-form: #6b6a6a;

  /* ··· bars ··· */
  --clr-bar: #3b7ec5;
  --clr-bar-hover: #1e528a;
  --clr-bar-back: #3a4653;

  /* ··· primary ··· */
  --clr-primary: #5f97d1;
  --clr-primary-hover: #375f8a;

  /* ··· btn-btn ··· */
  --clr-btn-hover: #e8f3ff;

  /* ··· btn-hero-card ··· */
  --clr-back-navbar: #17172e;
  --clr-border-navbar: #5353687c;

  /* ··· btn-hero-card ··· */
  --clr-back-hero-card: #181833;
  --clr-border-hero-card: #565669;

  /* ··· btn-hero-card ··· */
  --clr-item-animation: #16162b;

  --clr-shadow: #ffd6ffb9, #52abfda9;
}

body{
  background-color: var(--clr-back-dark);
  color: var(--clr-font-dark);
}

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

:is(button, li):hover{
  cursor: url('assets/cursor/Mickey-Mouse-cursor.cur'), pointer;
}

.app-container{
  padding: 0 12em;
}

.todo-back-animated{
  background-image: url(assets/backs/pattern.png);
  background-size: contain;
  height: 200%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: -100;
  animation: moveBackPattern 30s ease-out infinite alternate;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: darken;
}

@keyframes moveBackPattern {
  to{
    background-position-y: 100%;
  }

  from{    
    background-position-y: 0;
  }
}

.todo-hero-wrapper{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* todo-hero-card-wrapper */
.todo-hero-card-wrapper{
  display: flex;
}

.todo-hero-card{
  background-color: var(--clr-back-hero-card);
  border: 1px solid var(--clr-border-hero-card);
  border-radius: .2em;
  padding: 1em;
}

.todo-hero-presentation{
  height: 20em;
  flex: .8;
  padding: 2em;
}

.todo-hero-presentation-content{
  width: 80%;
}

.todo-hero-title-wrapper{
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1.5em;
}

.todo-hero-title{
  font-size: 1.6em;
  color: var(--clr-font-card);
}

.todo-hero-description{
  color: var(--clr-font-p-dark);
  letter-spacing: 1px;
}

.todo-hero-animation{
  height: 25em;
  flex: 1.5;
  display: flex;
}

.todo-hero-animation-tasks{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todo-hero-animation-item{
  background-color: var(--clr-item-animation);
  border: 1px solid var(--clr-border-card);
  padding: .8em;
  height: 6em;
  width: 15em;
  border-radius: .5em;
  display: flex;
  align-items: flex-start;
}

.todo-hero-animation-content{
  display: flex;
  align-items: center;
}

.todo-hero-animation-cirlce{
  background-color: var(--clr-primary);
  padding: .3em;
  border-radius: 100vmax;
}

.todo-hero-animation-title{
  animation: contentCardAnimated 2s steps(40) infinite;
  overflow: hidden;
  white-space: nowrap;
}

.todo-hero-animation-title:after{
  margin-left: .3em;
  color: var(--clr-font-card);
}

@keyframes contentCardAnimated{
  to{
    width: 100%;
  }

  from{
    width: 0;
  }
}

.title1::after{
  content: 'make to bed.';
}

.title2::after{
  content: 'Study for the test.';
}

.title3::after{
  content: 'go for a 30 minute walk.';
}

.todo-hero-animation-description{
  color: var(--clr-font-p-dark);
  width: 60%;
  margin-left: 1em;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.todo-hero-arrow::after{
  content: '~>';
  display: inline-block;
  transform: rotate(90deg);
  font-size: 2em;
  color: var(--clr-primary);
}

/* todo-banner-wrapper */
.todo-banner-wrapper{
  padding: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.todo-banner-navbar{
  display: none;
}

.todo-banner-list{
  display: flex;
  gap: .5em;
}

.todo-banner-add-task{
  background-color: var(--clr-primary);
  padding: 1em 2em;
  border-radius: 100vmax;
  border-color: var(--clr-primary);
  font-size: .9em;
}

.todo-banner-add-task::after{
  content: '~>';
  margin-left: .3em;
  transition: .3s ease;
}

.todo-banner-add-task:hover{
  background-color: var(--clr-btn-hover);
}

.todo-banner-add-task:hover:after{
  transform: translatex(5px);
  display: inline-block;
}

/* todo-navbar-wrapper */
.todo-navbar-wrapper{
  position: fixed;
  height: 100vh;
  width: 5em;
  left: 0;
  top: 0;
  background-color: var(--clr-back-navbar);
  border-right: 1px solid var(--clr-border-navbar);
  padding: 2em 0;
}

.todo-list-navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

:is(.logo-image, .redux-image-icon){
  width: 2.5em;
}

:is(.item-navbar-logo-img, .item-navbar-redux-img):hover{
  transform: rotate(12deg);
  transition: .3s;
}

/* todos-list-wrapper */

.todos-list-wrapper{
  background-color: var(--clr-back-navbar);
  padding: 1em;
  border-radius: .3em;
  border: 1px solid var(--clr-border-card);
  margin: 1em 0 4em;
}

.todo-list-title{
  color: var(--clr-font-card);
}

.todo-list-title::after{
  content: '~>';
  margin-left: .2em;
  letter-spacing: 0;
  display: inline-block;
  color: var(--clr-border-card);
}

.todos-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: .8em;
}

/* ### todo-item => todo-list ===> todos-list-wrapper ### */
.todos-item{
  background-color: var(--clr-card);
  padding: .5em .8em; 
  width: 18em;
  height: 8em;
  border-radius: .5em;
  color: var(--clr-font-card);
  border: 1px solid var(--clr-border-card);
  display: flex;
  flex-direction: column;
}

.todo-item-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-item-name{
  display: flex;
  align-items: center;
  gap: .3em;
}

/* todo-item-circle */
.todo-item-circle{
  padding: .2em;
  border-radius: 100vmax;
  background-color: var(--clr-primary);
}

/* todo-item-btn-close */
.todo-item-btn-close{
  color: var(--clr-font-dark);
}

.todo-item-bottom{
  flex: 1;
  margin-top: .5em;
  overflow-y: auto;
  word-wrap: break-word;
}

.todo-item-bottom::-webkit-scrollbar{
  background-color: var(--clr-bar-back);
  width: 5px;
  border-radius: 5px;
}

.todo-item-bottom::-webkit-scrollbar-thumb{
  background-color: var(--clr-bar);
  width: 5px;
  border-radius: 5px;
}

/* todos-form-wrapper */
.todos-form-wrapper{
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 40em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border: 1px solid var(--clr-primary-hover);
  backdrop-filter: blur(3px);
  transition: padding, .3s ease;
  box-shadow: 0 -10px 100px -10px #53abff;
}

.todos-form-wrapper:hover{
  padding-bottom: .5em;
  cursor: url(assets/cursor/Mickey-Mouse-cursor.cur), pointer;
}

/* todo-form-top */
.todo-form-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em 2em;
  border-bottom: 1px solid var(--clr-border-hero-card);
  color: var(--clr-font-card);
}

/* todo-form-bottom */
.todo-form-bottom{
  display: none;
}

/* form-bottom-active */
.form-bottom-active{
  display: block;
}

/* todos-form */
.todo-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1em 2em;
}

/* todo-form-divider */
.todo-form-divider{
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--clr-font-card);
}

.todo-form-label{
  flex: .9;
  overflow: hidden;
  white-space: nowrap;
}

.todo-form-label::after{
  content: '......................';
  letter-spacing: 4px;
  color: var(--clr-placeholder-form);
  margin-left: .5em;
}

:is(.todo-input, .todo-textarea, .todo-btn){
  border-radius: .2em;
  height: 2.5em;
  padding: .5em;
  flex: 1.5;
  color: var(--clr-letter-form);
  caret-color: var(--clr-primary);
}

:is(.todo-input, .todo-textarea)::placeholder{
  color: var(--clr-placeholder-form);
  padding-left: .2em;
}

.todo-btn{
  color: var(--clr-primary);
}

/* media quries */

@media screen and (max-width:1600px) {
  .app-container{
    padding: 0 8em;
  }
}

@media screen and (max-width:1370px) {
  .todo-hero-card-wrapper{
    flex-direction: column-reverse;
  }

  .todo-hero-presentation-content{
    width: 100%;
  }
}

@media screen and (max-width:1000px) {
  .todo-banner-navbar{
    display: block;
  }

  .todo-navbar-wrapper{
    display: none;
  }

  .app-container{
    padding: 0 3em;
  }

  .todos-form-wrapper{
    width: 30em;
  }
}

@media screen and (max-width:590px) {
  .todos-form-wrapper{
    width: 20em;
  } 
}